/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";

html {
	min-height: 100%;
	height: 100%;
}

body.mud {
	color: #000000;
	background-color: #ffffff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	height: 100%;
	overflow: hidden;

    #container {
    	@include container;
    	background-color: #ffffff;
    	border: 1px solid black;
    	display: flex;
    	height: 100%;
    }

    #explorePane {
    	position: relative;
    	display: block;

    	#descriptionPane {
            padding: 2px 2px 2px 2px;
	        border-right: 1px solid black;

	        .short {
	        	background-color: #000000;
	         	color: #ffffff;
	        }

	        .long {
  		   		@include scrollable;
	        }
    	}

        #consolePane {
            postition: relative;
            height: 100%;

            #messages {
                @include scrollable;
                position: relative;
                background-color: #222222;
                flex: 1 0 0;
                height: 300px;

                .message {
                    color: $default_foreground;
                    background-color: $default_background;
                    font-family: $default_font;
                    white-space: pre-wrap;
                    letter-spacing: 1px;
                    line-height: 12px;
                }

            }

            #commandPane {
                flex: 0 0 auto;

                #commandBox {
                    width: 99%;
                }
            }

        }

    }

    #infoPane {
        display: flex;
        flex-direction: column;

        #actionPane {
            @include scrollable;
            padding: 2px 2px 2px 2px;

            .compassGradientStop0 {
                stop-color: #002739;
                stop-opacity: 1;
            }
            
            .compassGradientStop1 {
                stop-color: #5080a0;
                stop-opacity: 1;
            }
            
            #compass {
                #north {
                  fill: url(#compassNorth);
                  fill-opacity: 1;
                  stroke: #000000;
                  stroke-width: 1;
                  stroke-miterlimit: 4;
                  stroke-dasharray: none;
                  stroke-opacity: 1;
                }

                #compassBubble {
                    fill: url(#compassBubble);
                    fill-rule: evenodd;
                    stroke: #000000;
                    stroke-width: 1;
                    stroke-linecap: butt; 
                    stroke-linejoin: miter;
                    stroke-opacity: 1;
                    fill-opacity: 1;
                }
            }


            #xcompass li {
                display: inline;
                padding: 10px 5px 10px 5px;
                border: 2px;
                margin: 2px;
            }

            #locomotion li {
                display: inline;
            }
        }

        #inventoryPane {
            @include scrollable;
            padding: 2px 2px 2px 2px;
        }
    }

}