/mudlib/include/sys/
/mudlib/**/log/
/mudlib/**/etc/
/bin/
/doc/
/etc/
/include/
/libexec/
/mud/
/mudlib.stock/
/share/
/src/
/test/
/CHANGELOG
/COPYRIGHT
/CREDITS
/HISTORY
/INSTALL
/README
/mudlib/Debug.log
/mudlib/LP_SWAP.pblaptop
/mudlib/sys
