/mudlib/platform/.etc/passwd/**
/mudlib/**/.log/
/mudlib/user/
/mudlib/Debug.log
/mudlib/LP_SWAP.*
/mudlib/.project
*.stackdump
/mudlib/mudlib.sublime-project
/mudlib/mudlib.sublime-workspace
/src/
/bin/
/share/