---
layout: default
published: true
section: blog
---


{% for item in site.categories.blog limit:20 %}
  <article>
  {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
  {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

<!--
  {% if date != ndate %}
    <h4 class="month">{{item.date | date: '%B %Y'}}</h4>
  {% endif %}
-->

  <h3>
    <a name="{{item.title}}" class="anchor" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
    <time datetime="%Y-%M-%d">{{item.date | date:"%B %d, %Y"}}</time>
  </h3>

  {{item.content}}
      

  </article>
{% endfor %}
