/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/bobal_000/.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
html {
  min-height: 100%;
  height: 100%;
}

/* line 14, ../sass/screen.scss */
body.mud {
  color: #000000;
  background-color: #ffffff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
}
/* line 21, ../sass/screen.scss */
body.mud #container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #ffffff;
  border: 1px solid black;
  display: flex;
  height: 100%;
}
/* line 29, ../sass/screen.scss */
body.mud #explorePane {
  position: relative;
  display: block;
}
/* line 33, ../sass/screen.scss */
body.mud #explorePane #descriptionPane {
  padding: 2px 2px 2px 2px;
  border-right: 1px solid black;
}
/* line 37, ../sass/screen.scss */
body.mud #explorePane #descriptionPane .short {
  background-color: #000000;
  color: #ffffff;
}
/* line 42, ../sass/screen.scss */
body.mud #explorePane #descriptionPane .long {
  overflow-x: auto;
  overflow-y: auto;
}
/* line 47, ../sass/screen.scss */
body.mud #explorePane #consolePane {
  postition: relative;
  height: 100%;
}
/* line 51, ../sass/screen.scss */
body.mud #explorePane #consolePane #messages {
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  background-color: #222222;
  flex: 1 0 0;
  height: 300px;
}
/* line 58, ../sass/screen.scss */
body.mud #explorePane #consolePane #messages .message {
  color: #F6F3F2;
  background-color: #222222;
  font-family: "Lucida Console", Monaco, fixed, monospace;
  white-space: pre-wrap;
  letter-spacing: 1px;
  line-height: 12px;
}
/* line 69, ../sass/screen.scss */
body.mud #explorePane #consolePane #commandPane {
  flex: 0 0 auto;
}
/* line 72, ../sass/screen.scss */
body.mud #explorePane #consolePane #commandPane #commandBox {
  width: 99%;
}
/* line 81, ../sass/screen.scss */
body.mud #infoPane {
  display: flex;
  flex-direction: column;
}
/* line 85, ../sass/screen.scss */
body.mud #infoPane #actionPane {
  overflow-x: auto;
  overflow-y: auto;
  padding: 2px 2px 2px 2px;
}
/* line 89, ../sass/screen.scss */
body.mud #infoPane #actionPane .compassGradientStop0 {
  stop-color: #002739;
  stop-opacity: 1;
}
/* line 94, ../sass/screen.scss */
body.mud #infoPane #actionPane .compassGradientStop1 {
  stop-color: #5080a0;
  stop-opacity: 1;
}
/* line 100, ../sass/screen.scss */
body.mud #infoPane #actionPane #compass #north {
  fill: url(#compassNorth);
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}
/* line 110, ../sass/screen.scss */
body.mud #infoPane #actionPane #compass #compassBubble {
  fill: url(#compassBubble);
  fill-rule: evenodd;
  stroke: #000000;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  fill-opacity: 1;
}
/* line 123, ../sass/screen.scss */
body.mud #infoPane #actionPane #xcompass li {
  display: inline;
  padding: 10px 5px 10px 5px;
  border: 2px;
  margin: 2px;
}
/* line 130, ../sass/screen.scss */
body.mud #infoPane #actionPane #locomotion li {
  display: inline;
}
/* line 135, ../sass/screen.scss */
body.mud #infoPane #inventoryPane {
  overflow-x: auto;
  overflow-y: auto;
  padding: 2px 2px 2px 2px;
}
