<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>gabbo mudlib foundation{% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <a class="{% if page.section == "blog" %}active{% endif %}" href="{{site.baseurl}}/">Blog</a>
        <a class="{% if page.url == "about/" %}active{% endif %}" href="{{site.baseurl}}/about">About</a>
        <a class="{% if page.section == "docs" %}active{% endif %}"href="{{site.baseurl}}/docs/mudlib">Documentation</a>
      </nav>
      <header>
        <h1 class="header">gabbo mudlib foundation</h1>
        <p class="header">make a messes and trashes</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/bobalu113/gabbo/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/bobalu113/gabbo/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/bobalu113/gabbo">View On GitHub</a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <span><small><a href="{{site.baseurl}}/blog.rss">Subscribe via RSS</a></small></span>
        <span class="hostedby"><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a></small></span>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-52990313-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
